@page "/box-text-editor";
@using BBlogBlazor.Static
@using Blazored.TextEditor;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager;
@inject SweetAlertService Swal;
@attribute [Authorize]
@inject AuthenticationStateProvider GetAuthenticationStateAsync

<div class="form container">
    <EditForm Model="@post" OnValidSubmit="AddPostForm">
        <div class="d-flex ps-3 pe-3">
            <div class="d-flex flex-column me-3">
                Tên Tiêu Đề: <input class="input-layout" @bind="@post.Title">
                Ảnh Bìa: <InputFile class="form-control" accept="image/jpeg, image/png, image/jpg, image/webp" OnChange="@HandleFileSelect" />
                <img src="@($"{APIEndpoints.ServerBaseUrl}/{post.PicturePostUrl}")" accept="image/jpeg, image/png, image/jpg, image/webp" width="300" height="200" class="img-post m-3" />
            </div>
            <div>
                <div class="col mb-2 d-flex flex-column" style="width: 600px;">
                    Chọn Chủ đề:
                    <select id="CategoryId" class="input-layout" @bind="post.CategoryId" style="width: 180px;">
                        <option value="0" disabled="disabled" selected>--Chọn Chủ Đề--</option>
                        @foreach (var cate in categories)
                        {
                            <option value="@cate.CategoryId">
                                @cate.CategoryName
                            </option>
                        }
                    </select>
                    Tên Tiêu Đề Ngắn: <input class="input-layout" @bind="@post.BriefContent" />
                    Thẻ Tag: <input class="input-layout" @bind="@post.TagSearch" />
                </div>
                <div class="editor-layout">
                    <div style="color: red;">Viết Nội Dung (Nên cho kiểu chữ Heading 2 để chữ hiển thị rõ nét nhất)</div>
                    <div class="text-editor mb-3">
                        <div @ref="_quillJSEditorDiv" class="border border-secondary p-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Đăng Bài Viết</button>
        </div>
    </EditForm>
</div>
