@page "/"
@using BBlogBlazor.Component

@if (NewsMain == null)
{
    <LoadingBar></LoadingBar>
}
else
{
    <div class="body-home test mt-3">
        <h5 class="title-news fw-bold">Nổi Bật</h5>
        <div class="news-popular d-flex">
            <div class="news-big flex-column">
                <div class="news-big-top d-flex">
                    <!--Card news-main-->
                    <div class="news-main d-flex justify-content-start">
                        <div class=" me-4" style="width: 100%;">
                            <a class="text-decoration-none" href="blog-detail/@NewsMain.PostId">
                                <img src="@NewsMain.PicturePostUrl" class="card-img-top" style="border-radius: 10px;" alt="...">
                                <div class="mt-2">
                                    <p class="card-text fw-bold text-black" style="font-size: 20px;">@NewsMain.Title</p>
                                </div>
                                <div class="status mt-1">
                                    <span class="text-black">Trạng thái: @NewsMain.PostStatus</span>
                                    <span class="text-black float-end">Vào lúc: @NewsMain.CreateDate</span>
                                    <p class="text-black">Số lượt xem: @NewsMain.ViewCount</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--Card news-main end-->
                    <div class="news-main-secondary d-flex justify-content-end">
                        <!--Card news-main-secondary-->
                        <div class=" d-flex">
                            <div class="p-1" style="width: 100%;background-color: #F0F1F4; border-radius: 10px 10px 0 0;">
                                <a class="text-decoration-none" href="blog-detail/@NewsMainSecon.PostId">
                                    <img src="@NewsMainSecon.PicturePostUrl" class="card-img-top" style="border-radius: 10px 10px 0px 0px;" alt="...">
                                    <div class="mt-2">
                                        <p class="card-text fw-bold text-black" style="font-size: 17px;">@NewsMainSecon.Title</p>
                                    </div>
                                    <p class="card-tex text-black mt-2" style="font-size: 16px;">@NewsMainSecon.BriefContent</p>
                                </a>
                            </div>
                        </div>
                        <!--Card news-main-secondary end-->
                    </div>
                </div>
                <div class="news-big-bottom">
                    <div class="d-flex news-main-bottom">
                        <div class="news-bottom-one">
                            <!--Card news-bottom-one-->
                            <div class=" d-flex justify-content-start">
                                <div class="" style="width: 95%;">
                                    <a class="text-decoration-none" href="blog-detail/@NewsBottomOne.PostId" style="">
                                        <div class="layout-img-news-bottom">
                                            <img src="@NewsBottomOne.PicturePostUrl" class="img-bottom card-img-top img-fluid" style="border-radius: 10px;" alt="...">
                                        </div>
                                        <div class="mt-2">
                                            <p class="card-text text-black" style="font-size: 16px;">@NewsBottomOne.Title</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--Card news-bottom-one end-->
                        </div>
                        <div class="news-bottom-two">
                            <!--Card news-bottom-one-->
                            <div class=" d-flex justify-content-start">
                                <div class="" style="width: 95%;">
                                    <a class="text-decoration-none" href="blog-detail/@NewsBottomTwo.PostId">
                                        <div class="layout-img-news-bottom">
                                            <img src="@NewsBottomTwo.PicturePostUrl" class="img-bottom card-img-top img-fluid" style="border-radius: 10px" alt="...">
                                        </div>
                                        <div class="mt-2">
                                            <p class="card-text text-black" style="font-size: 16px;">@NewsBottomTwo.Title</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--Card news-bottom-one end-->
                        </div>
                        <div class="news-bottom-three">
                            <!--Card news-bottom-one-->
                            <div class=" d-flex justify-content-start">
                                <div class="" style="width: 95%;">
                                    <a class="text-decoration-none" href="blog-detail/@NewsBottomThree.PostId">
                                        <div class="layout-img-news-bottom">
                                            <img src="@NewsBottomThree.PicturePostUrl" class="img-bottom card-img-top img-fluid" style="border-radius: 10px;" alt="...">
                                        </div>
                                        <div class="mt-2">
                                            <p class="card-text text-black" style="font-size: 16px;">@NewsBottomThree.Title</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--Card news-bottom-one end-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-small">
                <div class="title-news fw-bold" style="font-size: 20px">Xem Nhanh</div>

                @foreach (var watchFlash in GetTopPost)
                {
                    <div class="watch-flash " style="max-width: 100%; height: 117px;">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="layout-title-flash" style="padding: 0 3px 0 0; font-size: 14.5px;">
                                    <a href="blog-detail/@watchFlash.PostId" class="text-decoration-none">
                                        <p class="title-flash text-black">@watchFlash.Title</p>
                                    </a>
                                </div>
                            </div>
                            <div class="layout-img-flash col-md-6">
                                <a href="blog-detail/@watchFlash.PostId"><img src="@watchFlash.PicturePostUrl" class="img-flash img-fluid" alt="..."></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--Danh sách tin tức và bài viết-->
        <div class="list-news">
            <h5 class="title-news fw-bold">Danh Sách Bài Viết Mới Nhất</h5>
            @foreach (var listNews in PostAll)
            {
                <div class="mb-3 mt-3" style="max-width: 100%; height: 150px;">
                    <div class="row g-0">
                        <div class="layout-list-news col-md-4">
                            <a href="/blog-detail/@listNews.PostId"><img src="@listNews.PicturePostUrl" class="img-list-news img-fluid" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="" style="padding: 0 16px 16px 16px;">
                                <a href="/blog-detail/@listNews.PostId" class="text-decoration-none"><h5 class="card-title text-black">@listNews.Title</h5></a>
                                <div class="">@listNews.BriefContent</div>
                                <div class="d-flex">
                                    <p class="me-3"><small class="h6" style="color: #6C5F5B;">Tạo Bài Vào: @listNews.CreateDate</small></p>
                                    <span class="text-muted">Số lượt xem: @listNews.ViewCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--Danh sách tin tức và bài viết end-->
    </div>
}

