@page "/post-admin-manager"
@using BBlogBlazor.Layout.AdminLayout
@layout AdminLayout;

@if (PostAll == null)
{
    <BBlogBlazor.Component.LoadingBar></BBlogBlazor.Component.LoadingBar>
}
else
{
    <div class="user">
        <h1>Trang quản lý bài viết</h1>
        <section class="intro">
            <div class="bg-image h-100">
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>             
                                                        <th scope="col">Ảnh bìa</th>
                                                        <th scope="col">Tiêu đề</th>
                                                        <th scope="col">Ngày tạo</th>
                                                        <th scope="col">UserId</th>
                                                        <th scope="col">Cate Id</th>
                                                        <th scope="col">Sửa</th>
                                                        <th scope="col">Xóa</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var acc in PostAll)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <img src="@acc.PicturePostUrl" class="rounded-circle" style="width: 38px;"
                                                                     alt="Avatar" />
                                                            </td>
                                                            <td>@acc.Title</td>
                                                            <td>@acc.CreateDate</td>
                                                            <td>@acc.UserId</td>
                                                            <td>@acc.CategoryId</td>

                                                            <td>
                                                                <button type="button" class="btn btn-warning btn-sm px-3">
                                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                                </button>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger btn-sm px-3">
                                                                    <i class="fas fa-times"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

