@page "/post-admin-manager"
@using BBlogBlazor.Layout.AdminLayout
@using BBlogBlazor.Static
@layout AdminLayout;
@inject NavigationManager NavigationManager

@if (PostAll == null)
{
    <div>...is loading</div>
}
else
{
    <div class="user">
        <h1>Trang quản lý bài viết</h1>
        <section class="intro">
            <div class="bg-image h-100">
                <div>
                    <div class="col mb-2 d-flex flex-column" style="width: 200px; margin-left: 12px;">
                        Chọn Chủ đề:
                        <select id="CategoryId" class="form-select input-layout" aria-label="Default select example" @onchange="SelectPost">
                            <option value="1" disabled="disabled" selected>--Chọn Chủ Đề--</option>
                            @foreach (var cate in categories)
                            {
                                <option value="@cate.CategoryId">
                                    @cate.CategoryName
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="mask d-flex align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID Bài Viết</th>
                                                        <th scope="col">Ảnh bìa</th>
                                                        <th scope="col">Tiêu đề</th>
                                                        <th scope="col">Ngày tạo</th>
                                                        <th scope="col">UserId</th>
                                                        <th scope="col">Tên Chủ Đề</th>
                                                        <th scope="col">Sửa</th>
                                                        <th scope="col">Xóa</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var acc in PostWithCate)
                                                    {
                                                        <tr>
                                                            <td>@acc.PostId</td>
                                                            <td>
                                                                <img src="@($"{APIEndpoints.ServerBaseUrl}/{acc.PicturePostUrl}")" class="" style="width: 100px;" />
                                                            </td>
                                                            <td width="300">@acc.Title</td>
                                                            <td>@acc.CreateDate</td>
                                                            <td>@acc.UserId</td>
                                                            <td>@acc.Categories.CategoryName</td>

                                                            <td>
                                                                <a class="btn btn-warning px-3" href="update-post-admin/@acc.PostId">
                                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="bupdate-post-admin" class="btn btn-danger">
                                                                    <i class="fas fa-times"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}

